# Ignore build and IDE folders
.idea/
.vs/
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Ignore Visual Studio files
*.sln
.vsconfig

# Keep these folders and files explicitly
!Source/
!Content/
!Config/
!*.uproject
!README.md
